%vertical-titles {
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    display: flex;

}
%vertical-titles__label {
    text-align: center;
    transform: rotate(90deg);
    @extend %description-12;
    text-transform: uppercase;
    letter-spacing: 0.01rem;

    @include media ('<phone') {
       font-size: 1.2rem;
    }

}
%vertical-titles__title {
    @extend %title-200;
    padding-top: 2rem;
   

}