*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-size: calc(100vw/ 1920 * 10);
    line-height: 1;
    position: fixed;
    @extend %cover;
    overflow: hidden;
    background: $color-background-primary;
    color: $color-off-white;

    @include media ('<phone') {
        font-size: calc(100vw/ 750 * 10);
    }
}

body {
    @extend %description-16;
    font-family: $font-suisse-bp;
    position: fixed;
    @extend %cover;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

img {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    vertical-align: middle;

    &.loaded {
        opacity: 1;
    }
}

button {
    background: none;
    outline: none;
    color: inherit;
    cursor: pointer;
    border: none;
}

.content {
  @extend %cover;
}

[data-animation='title'],
[data-animation='paragraph'],
[data-animation='label']   {
    span {
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
    }
}